// hero section
* {
  margin: 0;
  box-sizing: border-box;
}
.hero-section {
  width: 100% !important;
  background: url("../../assets/images/hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;
  text-align: center;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .hero-sec-content {
    max-width: 566px;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      text-decoration-line: underline;
      color: #ffffff;
      margin-bottom: 20px;
    }
    h2 {
      width: 100%;
      font-weight: 700;
      font-size: 56px;
      line-height: 81px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 46px;
    }
    button {
      background: #9747ff;
      width: 213px;
      height: 72px;
      font-weight: 400;
      font-size: 24px;
      line-height: 35px;
      border: none;
      color: #ffffff;
    }
  }
  .le-col-box {
    position: absolute;
    height: 100%;
    left: 0px;
  }
  .right-col-box {
    position: absolute;
    height: 100%;
    right: 0px;
    top: 0px;
  }
}

//innovation

.partner-of-innovation {
  display: flex;
  align-items: flex-start;
  margin-top: 76px;
  .it-solution-busi {
    position: relative;
    width: 50%;
    .it-sol-logo {
      position: absolute;
      right: 136px;
      top: 0;
    }
    .total-client-count {
      background: url("../../assets/images/Vector12.svg");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 230px;
      right: 224px;
      padding: 26px;
      text-align: center;
      padding-left: 48px;
      span {
        font-weight: 400;
        font-size: 30px;
        line-height: 43px;
        color: #ffffff;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #000000;
      }
    }
  }
  .company-partner {
    display: flex;
    flex-direction: column;
    width: 50%;
    .web-networking {
      display: flex;
      align-items: center;
      max-width: 500px;
      justify-content: space-between;
      margin-bottom: 16px;
      .web-development {
        display: flex;
        // width: 26px;
        .web-heading {
          font-weight: 700;
          font-size: 20px;
          line-height: 29px;
          color: #000000;
          margin-left: 10px;
        }
      }
    }
    .about-Your-company {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      .top-bt-line {
        width: 20px;
        border-bottom: 1px solid #7100ff;
        margin-right: 17px;
      }
    }
    .partner-heading {
      max-width: 364px;
      margin-bottom: 12px;
    }
    .innovate-para {
      max-width: 580px;
      margin-bottom: 16px;
    }
    .web-dev-para {
      display: flex;
      align-items: center;
      margin-bottom: 26px;
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #000000;
        margin-left: 7px;
      }
    }
  }
}

// sheri
.services-back {
  background: url("../../assets/images/services-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 176px !important;
  padding-bottom: 75px !important;
  // margin: 0 !important;
  width: 100% !important;
  justify-content: center;
}

.service-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.service-top-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 21px;
  padding-top: 76px !important;
}
.block-1 {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../../assets//images/tech-watch.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 420px;
  height: 277px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.block-2 {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../../assets//images/vr1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 420px;
  height: 277px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.block-3 {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../../assets//images/vr2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 420px;
  height: 277px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.blocks-text {
  position: relative;
  width: 380px;
  height: 115px;
  background-color: #ffffff;
  margin-top: 250px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.services-heading {
  width: 400px;
  height: 104px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;

  color: #ffffff;
}

.detail-height {
  height: 360px;
}

.services-heading5 {
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  color: #ffffff;
  margin-top: 20px;
}
.services-heading2 {
  width: 458px !important;
  height: 104px !important;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;

  color: #ffffff;
}

.services-heading2 {
  width: 155px;
  height: 38px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;

  color: #ffffff;
}

.services-heading4 {
  width: 369px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  color: #ffffff;
}

.lineheight {
  line-height: 30px !important;
}

.services-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 89px;
}
.text-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
}
.text-services-1 ul li {
  list-style: none;
  list-style-image: url("../../assets/images/line.png");
  margin-left: 0px;
  padding-left: 0px;
}

.text-services-2 {
  display: flex;

  width: 532px;
  height: 69px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;

  color: #ffffff;
}
.detail-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
}
.detail-description {
  width: 143px;
}
.detail-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 229px;
  height: 297px;
  background: #15101e;
  justify-content: center;
  align-items: center;
  padding: auto 40px 76px 40px;
  gap: 20px;
  text-align: center;
}
.picloc {
  position: static;
  margin-top: -80px;
}
.details-heading {
  width: 172px;
  // height: 70px;
  left: 143px;
  top: 2356px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  text-align: center;

  color: #ffffff;
}

.learn-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  padding-top: 114px;
  padding-bottom: 76px;
  padding-left: 136px;
  padding-right: 112px;
  justify-content: space-between;
  background-image: url("../../assets/images/learmore2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.learmore-sec {
  padding-left: 76px !important;
  padding-right: 76px !important;
}
.learn-section-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: 35px;
}
.learn-heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
}
.learn-list ul {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}
.learn-list ul li {
  list-style: none;
  list-style-image: url("../../assets/images/learn-list.png");
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  font: bold;
  margin: 20px 0;
}
.learn-section-3 {
  padding-top: 124px;
}
.project-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 76px !important;
  padding-bottom: 0px !important;
  gap: 50px;
}
.project-section2 {
  padding-left: 55px !important;
  padding-right: 55px !important;
}
.project-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.card-1 {
  width: 305px;
  height: 458px;
  background-image: url("../../assets/images/project1.png");
  padding-top: 331px;
  padding-left: 20px;
  gap: 20px;
}
.card-2 {
  width: 305px;
  height: 458px;
  background-image: url("../../assets/images/project2.png");
  padding-top: 331px;
  padding-left: 20px;
  gap: 20px;
}
.card-3 {
  width: 305px;
  height: 458px;
  background-image: url("../../assets/images/project3.png");
  padding-top: 331px;
  padding-left: 20px;
  gap: 20px;
}
.card-4 {
  width: 305px;
  height: 458px;
  background-image: url("../../assets/images/project4.png");
  padding-top: 331px;
  padding-left: 20px;
  gap: 20px;
}

.project-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.team-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 76px;
  padding-top: 76px !important;
  padding-bottom: 76px !important;
}
.team-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.team-card-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 400px;
  gap: 20px;
}
.memberdetail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-section {
  max-width: 100% !important;
  // height: auto;
  background-image: url("../../assets/images/videosec.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 !important;
}
.video-section-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 253px !important;
  padding-bottom: 118px !important;
  justify-content: space-between;
}
.para {
  margin-top: 26px !important;
  margin-bottom: 10px !important;
}
.rec1 {
  background-image: url("../../assets/images/videorec1.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 190px;
  height: 127px;
  align-content: center;
  padding-top: 16px;
  padding-left: 26px;
}
.rec2 {
  background-image: url("../../assets/images/videorec2.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 190px;
  height: 127px;
  align-content: center;
  padding-top: 16px;
  padding-left: 26px;
}
.video-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.line-head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.line-text {
  padding-top: 4px;
  margin-bottom: 10px;
}
.newarticle-section {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 76px !important;
  padding-bottom: 100px !important;
  gap: 30px;
}
.article-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.article-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.block-new-1 {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../../assets//images/data.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 277px;
  align-items: center;
  justify-content: center;
}

.block-new-2 {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../../assets//images/quicksolution.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 277px;
  align-items: center;
  justify-content: center;
}
.block-new-3 {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../../assets//images/augment.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 277px;
  align-items: center;
  justify-content: center;
}
.card-size-article {
  height: 490px;
}
.blocks-text-new {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 360px;
  background-color: #ffffff;
  margin-top: 250px;
  padding-left: 21px;
  padding-top: 17px;
  padding-bottom: 22px;
  box-shadow: 3px 10px 4px rgba(0, 0, 0, 0.25);
  gap: 20px;
}
.block-new-head {
  width: 253px;
  height: 70px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
}

.block-new-head2 {
  width: 164px;
  height: 70px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
}
.new-card-heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px;
}
.new-card-heading-pic-image {
  width: 20.5px;
  height: 20px;
}
.new-card-heading-admin-text {
  margin-right: 15px;
}
.footer-learn-backclip{
  background-image: url("../../assets/images/footerlearn.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-learn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 67px !important;
  padding-bottom: 66px !important;
}
.footer-learn-head {
  margin-top: 16.5px;
}
.footer-backclip-sec{
  background-image: url("../../assets/images/footerback.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 68px;
  padding-top: 56px !important;
  padding-bottom: 35px !important;
  justify-content: space-between;
}

.footer-section-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-1-text {
  max-width: 226px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
}
.footer-section-1-text-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 10px;
  gap: 8px;
}
.footer-section-2-heading {
  width: 79px;
  height: 49px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 49px;

  color: #ffffff;
}

.footer-section-3-text {
  width: 258px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}
.footer-section-3-heading {
  width: 184px;
  height: 49px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 49px;

  color: #ffffff;
}

.sectio-2-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;
}

.footer-section-2-links {
  width: 108px;
  height: 23px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}

.footer-section-4-heading {
  width: 117px;
  height: 49px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 49px;

  color: #ffffff;
}
.footer-section-4-contacts {
  width: 185px;
  height: 46px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}
.contact-number {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
}
.contact-comp {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 20px;
}
.text-input {
  display: flex;
  flex-direction: row;
  width: 267px;
  height: 40px;
}
.input-text input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 219px;
  height: 40px;
  color: black;
  background: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0px;
}
.send-button {
  background-image: url("../../assets/images/footersend.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 48px;
  height: 40px;
}
.footer-sec-3-1-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 20px;
  gap: 10px;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .services-heading {
    width: 280px;
    height: 94px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
  }
  //  .text-services{
  // gap: 40px;
  // }
  .services-back {
    padding-left: 24px !important;
    padding-right: 24px !important;
    // gap: 40px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .services-cont {
    gap: 140px;
  }
}
@media screen and (min-width: 320px) and (max-width: 610px) {
  .block-1 {
    width: 300px;
  }

  .block-2 {
    width: 300px;
  }
  .block-3 {
    width: 300px;
  }
  .blocks-text {
    width: 280px;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
  }

  .service-top-3 {
    justify-content: center;
  }
}

@media screen and (min-width: 611px) and (max-width: 900px) {
  .block-1 {
    width: 280px;
  }

  .block-2 {
    width: 280px;
  }
  .block-3 {
    width: 280px;
  }
  .blocks-text {
    width: 260px;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
  }

  .service-top-3 {
    justify-content: center;
  }
}
@media screen and (min-width: 901px) and (max-width: 1500px) {
  .block-1 {
    width: 410px;
  }

  .block-2 {
    width: 410px;
  }
  .block-3 {
    width: 410px;
  }
  .blocks-text {
    width: 390px;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
  }
  .service-top-3 {
    justify-content: center;
  }
}
@media screen and (min-width: 1070px) and (max-width: 1350px) {
  .learn-section {
    padding-left: 10px !important;
    padding-right: 10px !important;
    justify-content: space-around;
  }

  .learmore-sec {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
  .learn-section-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 976px) and (max-width: 1071px) {
  .learn-section {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }

  .learmore-sec {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
  .learn-section-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .learn-section-3 {
    padding-top: 34px;
  }
}

@media screen and (min-width: 800px) and (max-width: 975px) {
  .learn-section {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .learmore-sec {
    padding-left: 0px !important;
    padding-right: 0px !important;
    // justify-content: ;
  }
  .learn-section-2 {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 800px) and (max-width: 954px) {
  .learn-section-3 {
    padding-top: 0px;
  }
}
@media screen and (min-width: 955px) and (max-width: 975px) {
  .learn-section-3 {
    padding-top: 134px;
  }
}
@media screen and (min-width: 320px) and (max-width: 799px) {
  .learn-section {
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 24px !important;
    padding-right: 24px !important;
    gap: 20px;
  }

  .learmore-sec {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .learn-section-2 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .learn-section-3 {
    padding-top: 14px;
  }
  .learn-section-2 {
    gap: 0px;
  }

  .services-heading2 {
    width: 280px !important;
    height: 104px !important;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 32px;
    color: #ffffff;
  }
}

@media screen and (min-width: 320px) and (max-width: 1320px) {
  .project-cards {
    padding-top: 40px;
    justify-content: center !important;
    gap: 20px !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 800px) {
  .project-section2 {
    padding-left: 0px !important;
  }

  .learn-section-1 {
    margin: 0 auto;
  }
  .learn-section-3 {
    margin: 0 auto;
  }

  .team-card-detail {
    max-width: 300px;
    gap: 20px;
  }
  .res-seize {
    width: 100%;
  }
  .video-section {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .footer-section {
    padding-left: 24px !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 483px) {
  .footer-section {
    gap: 40px;
  }
}
@media screen and (min-width: 484px) and (max-width: 800px) {
  .footer-section {
    flex-direction: column;
    gap: 50px;
  }
}
@media screen and (min-width: 801px) and (max-width: 1060px) {
  .footer-section {
    justify-content: left;
    gap: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .card-size-article {
    height: 490px;
    width: 280px;
  }
  .services-heading4 {
    width: 290px;
  }
  .video-section-details {
    gap: 50px;
  }
  .footer-learn {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .block-new-1 {
    width: auto;
  }
  .block-new-2 {
    width: auto;
  }
  .block-new-3 {
    width: auto;
  }
  .article-cards {
    padding-left: 24px !important;
    padding-right: 24px !important;
    justify-content: center;
    gap: 40px;
    max-width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1350px) {
  .article-cards {
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 920px) and (max-width: 980px) {
  .footer-learn {
    gap: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1320px) {
  .project-cards {
    justify-content: left;
    gap: 20px;
  }
  .card-1 {
    width: 280px;
  }
  .card-2 {
    width: 280px;
  }
  .card-3 {
    width: 280px;
  }
  .card-4 {
    width: 280px;
  }
  .team-cards {
    gap: 20px;
    justify-content: center;
  }
  .block-height {
    height: 400px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1120px) {
  .service-top-3 {
    margin-bottom: 100px !important;
  }
}
