.heading-text {
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  color: #000000;
}
.para-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}
.btn-text {
  width: 213px;
  height: 72px;
  background: #9747ff;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.cards {
  .card-dtail {
      position: relative;
      .Vector{
          position: absolute;
          top: -20px;
          right: -21.3px;
      }
      .cards-dtail {
          position: absolute;
          left: 16.18px;
          bottom: 46px;
          .cards-dtail-heading {
              font-weight: 700;
              font-size: 24px;
              line-height: 35px;
              color: #FFFFFF;
          }
          .cards-dtail-para {
              font-weight: 700;
              font-size: 18px;
              line-height: 26px;
              color: #9747FF;
          }
      } 
  }
  
  
}
